[2021-11-24 01:34] thvasilo commented on #159
Note that this seems to be specific with the conda-forge installation. If I do the following:

[code]

And launch the notebook it seems to run fine. My conda list in that case is:

[code]

There are a bunch of differences but you'll note `dash-bootstrap-components 0.13.1                   pypi_0    pypi` here, it was version 1.0.0 when installed through conda-forge.

[2021-11-24 07:58] oegedijk commented on #159
Hi @thvasilo,

I just noticed that the 0.3.7 version which fixes the dash-bootstrap-components dependency has not been deployed correctly on conda-forge. Somehow missed that. If I have time today will investigate.

In the meantime you can pip install the latest version, which should pin dash-bootstrap-components to v1

[2021-11-25 10:22] luchpa opened #160 "using explainerdashboard with H2OAutoMLClassifier"
Hi!
Thanks for making the explainerdashboard, it seems to be a great tool for data scientists!

I have a question: Is it possible to run ClassifierExplainer on H2O models, such as H2OAutoMLClassifier? It seems to be a sklearn wrapper for the H2OAutoML module.
(https://github.com/h2oai/h2o-tutorials/blob/master/tutorials/sklearn-integration/H2OAutoML_as_sklearn_estimator.ipynb)

Thanks in advance!

[2021-11-25 11:07] oegedijk commented on #160
Hi @luchpa, then it should in principle be compatible, as long as it works with `shap`. However there are multiple `shap` algorithms for different types of models (`TreeExplainer`, `LinearExplainer`), so with a AutoML algorithms I could imagine that it may be hard to find the right working shap explainer.

Could you try if you get the shap library to work with `H2OAutoMLClassifier`?

[2021-12-06 12:34] andrecasotti opened #162 "TypeError: can only concatenate str (not "int") to str"
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_norm, y_train)

explainer = ClassifierExplainer(model, X_test_norm, y_test,
                                    shap='linear',
                                    X_background=X_train,
                                    model_output='logodds',labels=['0', '1'])
ExplainerDashboard(explainer).run()

[2021-12-07 09:50] tipa84 opened #163 "How do I get a dataframe with all shap values for features from the output of the ExplainerDashboard() class?"
Hi, I am trying to get a dataframe from the output produced via:

[code]

How would I do that?

[2021-12-08 13:15] oegedijk commented on #163
Hi @tipa84 , yes, you can get those with `explainer.get_shap_values_df()`

[2021-12-08 13:15] #163 closed

[2021-12-08 13:16] oegedijk commented on #162
Hi @andrecasotti, could you post a longer stack trace?

From this I cannot see something obviously wrong, but I'm guessing it's probably something non-standard in your dataframes?

[2021-12-08 13:17] oegedijk commented on #160
Hi @luchpa, were you able to generate shap values for `H2OAutoMLClassifier` yourself?

[2021-12-08 13:21] oegedijk commented on #159
Sorry, still working on this: there is something else broken with `dtreeviz` and the `graphviz` back-end with conda, so haven't been able to release the fix yet on conda. Will keep trying.

[2021-12-08 13:22] oegedijk commented on #156
@thvasilo that's interesting, as `dtreeviz` actually tells you to install `python-graphviz` on conda: https://github.com/parrt/dtreeviz#install

graphviz on conda is a bit of a mess.

[2021-12-08 13:22] #156 closed

[2021-12-08 13:24] oegedijk commented on #154
do you have some simple example code that recreates the error?

[2021-12-08 13:26] oegedijk commented on #121
Hey, forgot to loop back on this, but actually added methods `explainer.set_shap_values()` and `explainer.set_shap_interaction_values()` that allow you to import pre-calculated shap values in the last release.

Could you test if these work for you?

[2021-12-08 13:27] oegedijk commented on #119
Hi @Simon-Free did you manage to get this to work in the end?

[2021-12-08 14:07] oegedijk commented on #142
Hi @yean8mun , that's weird actually. I don't see them when I run this locally?

Have you tried updating `dash` to the latest version?

[2021-12-08 16:07] e5k commented on #121
Thanks a lot for that! I unfortunately had to move on, so I ended up running the whole explorer from the GPU, computing the SHAP values there instead of through the XGBoost library, then saving it and running it back locally. I will try it at some point - hopefully soon, but many thanks for the update!

[2021-12-12 04:11] thatlittleboy opened #166 "dash_xxx packages are deprecated with dash>=2.0"
Since dash v2.0, the `dash_html_components`, `dash_core_components`, `dash_table` packages are all deprecated, cf. https://dash.plotly.com/dash-2-0-migration.

I got the following warning message when running
[code]
[code]

On a fresh installation, this is my `%pip freeze | grep dash` output:
[code]

I suppose to get rid of the warning, either pin the requirements of the project to be `dash<2.0` o

[2021-12-12 04:38] thatlittleboy commented on #154
Here, it's not my issue, but thought I'll help out with a simple example:

[code]

The underlying issue seems straightforward, its just that the class is `skorch.classifier.NeuralNetBinaryClassifier` not `skorch.classifier.NeuralNetClassifier` as expected by `guess_shap`?

[2021-12-15 09:39] oegedijk commented on #166
Hi @thatlittleboy, yeah I still need to make this migration. Also need to adapt to `dash-bootstrap-components` v2 as well.

Will see if I have time to make a new release over the christmas holidays.

Thanks for the heads up!

[2021-12-15 09:40] oegedijk commented on #154
Ah, great, so will just add `skorch.classifier.NeuralNetBinaryClassifier` to the skorch list... thanks!

[2021-12-15 11:42] nicolas-lair opened #167 "Dashboard won't launch : Exception on /_dash-layout [GET]"
I tried to launch a small example to try the explainer dashboard but I get an error from dash when I try to open the dashboard. The command db.run() is ok but I cannot open.

Any idea why I am getting this error ?

Here is my MWE.

[code]
Here is the log after the `db.run()`

[code]

And the log after I try to access the dashboard at `http://192.168.1.102:8050/`

[code]

[2021-12-16 13:41] Simon-Free commented on #119
Sorry for late answer, I was in vacations. So, kind of, what I finally did was saving url links to my dashboards as artifacts, and launched a web server that opens the appropriate dashboard, depending on the URL. To do the following, I used something like this:

[code]

[2021-12-23 13:53] maaz19499 commented on #160
Hi @oegedijk , Explainer Dashboard is a much needed tool for data scientist and thank you so much for creating it.

I had a question that is there any way to integrate h2o's driverless ai  mli data into explainer dashboard to create the beautiful dashboard?
(https://docs.h2o.ai/driverless-ai/latest-stable/docs/userguide/interpret-a-model.html)

Thank you in advance.

[2021-12-23 15:19] oegedijk commented on #167
Hi @nicolas-lair,

Sorry for late reply, was in the middle of moving house :)

In any case, I'm not able to generate the same error. The code fragment supplied works fine for me and launches the dashboard correctly.

Seems something is going wrong in the internals of dash though. `orjson` is a fast json formatter that speeds up json internals (`dash` sends the result of callback updates, e.g. a ne

[2021-12-23 15:22] oegedijk commented on #160
Hi @maaz19499 it seems that `h2o` is using shapley values as well for some of those analysis. So h20 has already calculated those, then you don't need to calculate them separately inside the `explainer`, but can pass them with the `explainer.set_shap_values(...)` method...

[2021-12-23 15:23] oegedijk commented on #119
Okay, hope that workaround will help other people with the same issue. Thanks a lot!

Closing for now...

[2021-12-23 15:23] #119 closed

[2021-12-23 15:23] #121 closed

[2021-12-23 15:26] oegedijk commented on #122
Hi @Manuelhrokr,

There are not that many under the hood methods that currently actually use the `n_jobs` attribute (mainly calculated permutation importance), but in principle passing `-1` should work as the parameter is simply passed to `joblib.Parallel()`.

[2021-12-23 15:26] #122 closed

[2021-12-23 15:27] oegedijk commented on #123
added it, thanks!

[2021-12-23 15:27] #123 closed

[2021-12-23 15:27] #134 closed

[2021-12-23 15:27] #140 closed

[2021-12-23 15:27] oegedijk commented on #142
closing this for now...

[2021-12-23 15:27] #142 closed

[2021-12-23 15:28] oegedijk commented on #143
so you can add shap values manually now with the `explainer.set_shap_values()` method...

[2021-12-23 15:28] #143 closed

[2021-12-23 15:28] #145 closed

[2021-12-23 15:33] oegedijk commented on #146
Hi @tunayokumus,

Sorry for not getting back earlier. You are right, the dashboards get dumped to `.joblib` by default. Should be straightforward to add multiple options here. But would be happy to accept a PR!

[2021-12-23 19:01] #147 closed

[2021-12-23 19:13] oegedijk commented on #148
Hi @yean8mun,

Sorry for the long delay (was a bit overwhelmed with newborn and moving house, but catching up now :)

In order to include a custom plot in a dashboard you need to wrap it in an `ExplainerComponent`. You can find all the default components in https://github.com/oegedijk/explainerdashboard/tree/master/explainerdashboard/dashboard_components as inspiration how to build your own.

For

[2021-12-23 19:13] #148 closed

[2021-12-23 19:14] #151 closed

[2021-12-23 19:15] #154 closed

[2021-12-23 19:15] #159 closed

[2021-12-23 19:15] #160 closed

[2021-12-23 19:15] #162 closed

[2021-12-23 22:01] Abdelgha-4 commented on #147
@oegedijk Hello, I see that you closed this issue, Is it solved now ?

[2021-12-24 19:27] oegedijk commented on #147
Hi @Abdelgha-4, sorry, should have added a reason for closing: I don't think I can support this in the library for now, as these pipelines are too different from standard pipelines (and also not clear what the output would be exactly given the resampling)

[2021-12-24 19:53] oegedijk commented on #167
Seems like this is indeed an `orjson` issue: https://github.com/plotly/plotly.py/issues/3380

maybe I will remove it from requirements (given that it is optional anyway)...

[2021-12-24 20:29] oegedijk commented on #146
Okay, added it. Will be in the next release as an extra parameter `pickle_type` that default to `"joblib"`, but can also be set `"dill" or `"pkl"`...

[2021-12-24 20:29] #146 closed

[2021-12-25 12:18] Abdelgha-4 commented on #147
Ah I see, this is regrettable as I would love to exploit your works for imbalanced data models.
Is there any work around for this in the time being ?

[2021-12-26 21:25] oegedijk commented on #147
I'm not very familiar with these types of pipelines, but seems you could do something like this to get the transformed input dataframe, and then extract the model:

[code]

actually maybe I could add some support for this...

[2021-12-28 10:21] kurucan commented on #118
This feature would be great !

[2022-01-02 21:50] oluwole-rewire opened #168 "Unable to use SimplifiedClassifierDashboard"
![image](https://user-images.githubusercontent.com/93487689/147890272-7707cc0a-a93b-4abb-bc1b-f188729bc5f7.png)
I tried to pip install explainerdashboard again but to no avail.

[2022-01-04 01:11] tonydengpace commented on #106
@hugocool, did you successfully pass the argument to plot the dot for shap summary plot? I tried but I cannot make it.

[2022-01-04 10:56] hugolytics commented on #106
Nope, because it wasn't implemented at the time idk about now.
However, I extracted the code from the SHAP library to make these types of plots work in explainerdashboard.
Basically, what you should know is that due to the way the API in SHAP is build, it is impossible to reproduce the SHAP plots in plotly instead of matplotlib. So any plots you want to use in explainerdashboard need to reimplemen

[2022-01-04 14:04] tonydengpace commented on #106
Hi @hugocool. Very appreciated your quick and detailed response. I just tried the latest version 0.3.7, but I got the same findings as yours. It seems that the lib didn't support it. However, it is interesting to see the dot_based summary plot in the official documentation: https://explainerdashboard.readthedocs.io/en/latest/components.html#shapsummarycomponent.

For sure, it would be great if you

[2022-01-10 11:02] oegedijk commented on #168
Hi @oluwole-rewire,

the composite is called `SimplifiedClassifierComposite` not `SimplifiedClassifierDashboard`:

https://github.com/oegedijk/explainerdashboard/blob/bdd03da0edd6efb48876e539bc0669101c6bb990/explainerdashboard/dashboard_components/composites.py#L684

So this should work:

[code]

[2022-01-12 01:07] SSMK-wq opened #172 "Support for Lime explainer"
Hello,

I am new to data science and came across this package and found it extremely useful for people like me who don't know web-app development. Great work. I can't thank you enough. I have a quick question.

I am learning explainable AI and came to know that we have SHAP, LIME, PFI etc.

I see in docs that we have SHAP and PFI explainer but does the package support Lime explainer as well?

I co

[2022-01-12 22:25] reza1615 opened #173 "Bug in dahsboard when the columns has especial characters"
It seems before sending feature columns to the explainerdashboard. it should have an option to force cleaning them automatically

InvalidComponentIdError: The element `feature-input-CE_Send to Fraud_1.0-input-40` contains `.` in its ID.
Characters `.`, `{` are not allowed in IDs

[2022-01-17 16:20] reza1615 opened #174 "Filter out indexes by prediction score in "what if""
It would be nice to have an option that we can just see the case that the predicted value is 1. For cases in which data is skew finding prediction ==1 is difficult.
for example in the below screenshot. select index just show label==1
![image](https://user-images.githubusercontent.com/2202483/149805294-71a0f70e-c726-4c25-b411-30547803ee29.png)

[2022-01-24 19:08] tvdboom opened #175 "ExplainerDashboard fails with pandas==3.4.0"
Hi,

I noticed that the dashboard fails for classifications since pandas version 3.4.0. Not sure if it's something between pandas and plotly or related to this package.

Minimum example:

[code]

The resulting error is:

[code]

[2022-01-27 09:26] teberto opened #176 "FeatureInputComponent possible to hide Parameters?"
Hello,
Im wondering if there is a opportunity to cusomize the parameters that are shown in the Feature Input Component.
I would like to hide some parameters, or rearrange some of them.

is there any way to do so?

[2022-01-31 15:41] SSMK-wq opened #177 "Unable to use ordinal encoded data and model from Tpot"
Hi,

I am using the model pipeline generated based on Tpot (Auto-ML solution) exhaustive search.

My code looks like as below

[code]

Later, I try to use the below from your documentation

`explainer = ClassifierExplainer(exported_pipeline,ord_test_t, y_test)`

Unfortunately, I get an error like as shown below

**ValueError: not enough values to unpack (expected 2, got 0)**

How can I avoid this

[2022-02-01 16:43] srj-surajchauhan commented on #175
facing the same issue, is there any solution for the this?

[2022-02-01 17:00] srj-surajchauhan commented on #175
facing the same issue, is there any solution for the this?
my pandas version is 1.4.0 and some of the dash feature are also showing deprecated

temp-fix:Problem is with new pandas version it is working fine on pandas version 1.2.1

[2022-02-02 13:35] hugocool commented on #106
Sorry for the late reply, i found the colab notebook where I was working on the plot and stored the code in this gist.

https://gist.github.com/hugocool/8fec6bc6114a6ad1eac61ad8cee67989

If we can get the plot to work nicely in the cell we can open a pull request and finish the work in an IDE, but I found it a little easier to use colab to view all the intermediary plotting results (although debug

[2022-02-02 13:40] tonydengpace commented on #106
Thanks very much for your share!

From: Hugo ***@***.***>
Sent: Wednesday, February 2, 2022 8:36 AM
To: oegedijk/explainerdashboard ***@***.***>
Cc: Deng, Tony (PACE) ***@***.***>; Comment ***@***.***>
Subject: [External] Re: [oegedijk/explainerdashboard] How to set plot_type to compact dot for the shap.summary_plots? (#106)

Sorry for the late reply, i found the colab notebook where I was working

[2022-02-02 17:29] ayushxx7 opened #178 "Does this work with `sklearn_crfsuite` used for Custom NER Models"
Here is a sample jupyter file using the aforementioned model for your reference: https://drive.google.com/file/d/1cw1WaZ2bfagzG74AFCICu76tMRPgSwpm/view?usp=sharing

[2022-02-08 12:55] oegedijk commented on #176
Hi @teberto,

I received this request before and then briefly looked into it and it seems it should not be too difficult to implement but would require some plumbing.

I may have some time the coming weeks to work on this so then will see if I can get it implemented...

[2022-02-08 12:56] oegedijk commented on #177
Hi,

The support for pipelines is right now very limited. Could you provide a longer stacktrace though to make it easier to see where that error came from?

[2022-02-08 12:57] oegedijk commented on #178
Euhm, I don't know? Have you tried it?

[2022-02-08 12:59] oegedijk commented on #175
Hi, @tvdboom and @srj-surajchauhan, apologies I have had zero time lately to look into this. Should have some time later this week though. Nightly tests are also failing due to this reason so agree that need to find a fix ASAP.

Cheers

[2022-02-08 13:00] oegedijk commented on #174
Euhm, @reza1615 not sure what you mean? do you mean the prediction==1 or the observed label==1? For the later case you can use the Observed Patricia_target selector and only select "1". For the first you could simply set the predicted probability range lower bound to e.g. 0.99?

[2022-02-08 13:02] oegedijk commented on #173
Hi @reza1615 that probably has something to do with the `orjson` encoder that encodes the dataframe to json before sending it to the browser. This is faster than the default python implementation but it seems it doesn't always play nice with special characters. It is entirely optional though so `pip uninstall orjson` should probably take care of the problem?

[2022-02-08 13:05] oegedijk commented on #172
Hi @SSMK-wq,

I'm personally not a huge fan of LIME: you are approximating the real model with a local simple model within a certain kernel, but is heavily dependent on the kernel size and other assumption what you get out of it.

Having said that the shap library has a wrapper for lime that I could use: https://shap.readthedocs.io/en/latest/generated/shap.explainers.other.LimeTabular.html

so wor

[2022-02-08 13:06] #168 closed

[2022-02-08 13:06] oegedijk commented on #167
Hi @nicolas-lair did uninstalling orjson work for you?

Closing this issue for now...

[2022-02-08 13:06] #167 closed

[2022-02-08 13:07] oegedijk commented on #166
Still have had zero time to look into this. Hopefully in the next week or so though!

[2022-02-08 13:26] nicolas-lair commented on #167
Hi @oegedijk , thanks for your replies ! Sorry I could not try it yet. I will do and let you know.

[2022-02-08 20:45] oegedijk commented on #175
okay, found the bug. The latest version of Pandas turned that column `dtype` into `obj` for some reason, while it should be floats. Will do some additional fixes for dash 2.0 compatibility and then do a quick release.

[2022-02-10 14:15] oegedijk commented on #166
Just did a release which should now make the package fully dash 2.0 compatible (and actually enforces it as a dependency)!

[2022-02-14 09:43] tvdboom opened #181 "update conda-forge"
The [conda-forge](https://anaconda.org/conda-forge/explainerdashboard) version of the package is 0.3.6.2 (2 versions behind pypi). Is it possible to update the version on conda? Thanks in advance.

[2022-02-14 09:44] tvdboom commented on #175
The newest version (0.3.8) fixes this issue. Closing it.

[2022-02-14 09:44] #175 closed

[2022-02-14 09:52] yanivwisney opened #182 "Import Error"
Hey!
When running the very first import line:
`from explainerdashboard import ClassifierExplainer, RegressionExplainer`
on jupyter notebook, I am running into this following import error:
`ImportError: cannot import name 'Input' from 'dash'`

Is it me or the code?

Thanks in advanced :)

[2022-02-14 10:02] oegedijk commented on #182
Hi @yanivwisney,

That means that you still have dash 1.0 installed, you can upgrade to dash 2.0 with `pip install -U dash`.

The dash version should have been bumped automatically with the latest release though given the requirements in `setup.py`: https://github.com/oegedijk/explainerdashboard/blob/f38b70f6d393abc511983a9b896da86097ab7b5f/setup.py#L71

Hmm

[2022-02-14 10:25] yanivwisney commented on #182
Hey,
I double checked and re-installed dash of it's newest version - 2.1.0
and I'm still getting the same issue.

[2022-02-14 10:32] oegedijk commented on #182
ah, weird. And if you try directly in your notebook:

[code]

?

[2022-02-14 10:33] oegedijk commented on #182
for context: dash 2.0 made some changed to how you import various parts of the library:

https://dash.plotly.com/dash-2-0-migration

[2022-02-14 10:50] yanivwisney commented on #182
Actually when doing so, `from dash import Input` I am getting the same error.
I created an issue in the Dash's python forum.

[2022-02-14 10:57] oegedijk commented on #182
okay, then I'm closing this for now!

[2022-02-14 10:57] #182 closed

[2022-02-15 08:31] toyohashi opened #183 "How to add custom callbacks"
I have tried to write a CustomDashboard which has custom callback. This custom component has a dropdown using to switch which type  of graph to display (Confusion Matrix or Contributions Plot). How can I add a callback to handle dropdown value change?
Can help me please...
[code]

[2022-02-15 16:00] tvdboom commented on #181
I'll give it a try: [https://github.com/conda-forge/explainerdashboard-feedstock/pull/37](https://github.com/conda-forge/explainerdashboard-feedstock/pull/37)

[2022-02-15 20:09] oegedijk commented on #181
wow, awesome! Thanks so much!

[2022-02-16 00:26] toyohashi commented on #183
I have done this. Thanks for your awesome explainerdashboard!

[2022-02-16 00:26] #183 closed

[2022-02-16 13:13] oegedijk commented on #167
hmmm, at this point I'm wondering whether to just drop orjson as a dependency. It's a nice speedup in dashboard responsiveness, but if too many users have weirdly formed data in their dataframes (or weird from the perspective of orjson), then they will get these errors.

[2022-02-16 13:34] VaCH2 commented on #167
For now, I only used it for demo purposes with the iris dataset. Running the code locally it worked fine but in my docker setup it broke. As of now, I added an uninstall step in my Dockerfile to make it work, but for my use case making it optional would be the cleanest solution:) But I understand the tradeoff. I will track this issue in case something changes!

[2022-02-17 18:36] baptiste-pasquier opened #184 "Bug in PDP plot"
https://github.com/oegedijk/explainerdashboard/blob/f38b70f6d393abc511983a9b896da86097ab7b5f/explainerdashboard/explainers.py#L1446

The `numpy.ndarray.sort` function sorts an array in-place and returns `None`.

A possible fix would be to use the `numpy.sort` function instead :

[code]

[2022-02-18 19:21] #181 closed

[2022-02-18 19:33] oegedijk commented on #184
Ah, good catch!

Will fix it in the next release!

[2022-02-18 19:36] oegedijk commented on #183
So for others that may find this issue, you can add callbacks to an ExplainerComponent using the `component_callbacks` method:

[code]

Should add some better documentation for this, but examples can be found in the various default components that have been defined here: https://github.com/oegedijk/explainerdashboard/tree/f38b70f6d393abc511983a9b896da86097ab7b5f/explainerdashboard/dashboard_compon

[2022-02-18 20:15] eakande opened #185 "Edited codes in explainer_plots.py did not update"
I wanted to update the explainerdashboard but I figured it out myself

[2022-02-20 20:27] shahasim opened #186 "currently only the scikit-learn compatible wrappers are supported"
Hi,

I am trying to create an explainer dashboard for my XGBoost model.

However I get the following error. Any tips on how to get around this?

`ValueError: For xgboost models, currently only the scikit-learn compatible wrappers xgboost.sklearn.XGBClassifier and xgboost.sklearn.XGBRegressor are supported, so please use those instead of xgboost.Booster!
`

**Setup**
`M1 Mac `
`Xgb version: 1.5.1`

[2022-02-22 07:39] Jie-NB opened #187 "How to save figures in high resolution in dashboard? thanks"

[2022-02-24 08:07] akhilkapil opened #188 "Ability to import individual plotly objects"
Can we extract individual plotly graph objects instead of whole dashboard ? Like suppose If I want to just check the ROC AUC plot for a given problem, how should I proceed ?

[2022-02-24 08:13] #188 closed

[2022-02-24 08:14] apatange-source commented on #188
Thanks for this issue

[2022-02-25 15:37] e5k opened #189 "Citation?"
Hi - Is there any way you'd like the code to be cited in publications?

[2022-02-28 06:19] deekshith39 opened #190 "What about the deep learning models?"

[2022-02-28 20:31] achimgaedke opened #191 "`dot` not recognised by check for executable"
Though I installed graphviz, I always get `WARNING: you don't seem to have graphviz in your path (cannot run 'dot -V') [...]`.

Looking at the code:
[code]
always fails.

I adjusted this test to the module structure of the `backend`, which changed with https://github.com/xflr6/graphviz/releases/tag/0.18.2

[2022-03-01 02:51] achimgaedke opened #193 "`pd.DataFrame.append` method is deprecated"
I found a lot of `FutureWarning`s in the logs, introduced by pandas 1.4

[code]

[2022-03-01 09:20] oegedijk commented on #191
ah, good catch and thanks for the PR!

graphviz dependency is quite a headache in general, but `dtreeviz` is also really cool so worth keeping it in :)

[2022-03-01 09:25] oegedijk commented on #190
Hi @deekshith39,

The dashboard only supports model for tabular data that  sklearn-compatible (i.e. they are expected to have a `.fit()` and `.predict()` method, etc). That makes it possible to support a large variety of models through duck typing.

Tabular deep learning PyTorch models are supported if they are wrapper with the skorch library: https://github.com/skorch-dev/skorch

I'm considering

[2022-03-01 09:32] oegedijk commented on #189
Hi @e5k,

Haven't really thought about this :) How do packages usually get cited?

[2022-03-01 09:33] e5k commented on #189
As such?
https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

You are now thoroughly acknowledged in a research paper, but happy to switch that to a proper citation if interested!

[2022-03-01 09:43] oegedijk commented on #189
Ah, cool, switched on the zenodo thing. So should be a proper doi with the next release!

Do you have any link to a draft of the paper in question?

Cheers!

[2022-03-01 09:55] e5k commented on #189
Cool! I will submit it by the end of the week, but if you drop me a message at seb –at– eskd –dot– net I'll send you a link do my drive

[2022-03-01 09:59] oegedijk commented on #186
Hi @shahasim ,

You are getting that error because explainerdashboard depends on the models behaving like an sklearn model, e.g. having proper .fit and .predict methods. In the case of xgboost that means that only the sklearn API is supported: https://xgboost.readthedocs.io/en/stable/python/python_api.html#module-xgboost.sklearn

[2022-03-01 10:09] oegedijk commented on #187
Does the save png button (
![image](https://user-images.githubusercontent.com/27999937/156149514-f5a46d35-de63-45e8-a0b4-0dd625e284b0.png)
) in the top right corner not provide sufficient high resolution image?

![image](https://user-images.githubusercontent.com/27999937/156149447-05cf121a-9ebb-4688-b28e-88c48c0e6815.png)

[2022-03-03 15:24] #193 closed

[2022-03-03 21:17] #191 closed

[2022-03-04 07:27] anupam2505 commented on #190
@oegedijk - I am planning to use the explainer dashboard for tensorlfow/keras models. Do we have an eta for tensorlfow/keras model support ? Thanks for this awesome tool.

[2022-03-04 11:52] oegedijk commented on #190
Hi @anupam2505, currently I have very little time for developing new features for this project. However if you can make a start with preparing a demo of how to work with scikeras, pass in dataframes and get out shap values, then I can see if I can add the functionality to the dashboard!

[2022-03-07 22:19] anupam2505 commented on #190
@oegedijk - Sure ! Let me check more details about the scikeras. BTW Does explainerdashboard support PyTorch models which are are having different type of input like embeddings and numerical features ?

[2022-03-08 07:54] lilila opened #195 "Error with plot_importances_detailed"
When I try to run plot_importance_detailed I get the following error:
`Javascript Error: undefined is not an object (evaluating 'v.size')`

[2022-03-08 08:55] oegedijk commented on #195
Hi @lilila could you provide a reproducable example that would help debug this issue?

[2022-03-14 04:32] JproChen opened #196 "loading big random forest or extra tree model generated by pycaret"
I use pycaret to generate regression models,
When building from these two algorithms,
it always stucks at Calculating shap values for a very long time
My model is about 100mb,
and it takes hours to finish, or did not finish, I don't know
even longer than training the model
is this normal?
thanks for any help

[2022-03-14 05:08] #196 closed

[2022-03-23 14:29] firobeid opened #197 "Incorporate scaling models to inverse X_test or y_test"
How can we incorporate the scaling function that we used to scale our inputs (X_train) into the dashboard so that in the whatif analysis for example, users raw input gets scaled before fed in the model?

[2022-03-27 16:00] Guidosalimbeni opened #198 "String categorical values from Lightgbm"
Hello,
great tool and library! Wonder if you can point me in the right direction to solve an issue?

- with LightGbm we can list the categorical column and it is ok if the values are strings values
- once in ExplainerDashboard the code crashes as it cannot handle strings values (at leat my understanding)

what can be a solution to this case?
thanks

[2022-03-31 10:13] ttpro1995 opened #199 "How to check for __version__ ?"
[code]

[code]

It should work. Most open-source does have variable __version__.

For example: case of Numpy

[code]
'1.19.2'

[2022-03-31 14:54] carolpiazzi commented on #189
Hi, I'm interested in citing your library. When you get the DOI of it, can you send it here in this thread please?

[2022-03-31 15:39] XinQi7788 opened #200 "how to deploy explainerdashboard in Rshiny app?"
Does anyone know how to deploy explainerdashboard as a Rshiny app?

Inside the Rstudio, we can use reticulate package to talk with the explainerdashboard written in python scripts.
But don't know how to deploy it as a Rshiny app?

Thank you very much.

Xin

[2022-03-31 19:54] oegedijk commented on #200
Hi @XinQi7788, I have no idea myself (not an R user anymore), but would be cool if there is a way to make it work!

[2022-03-31 19:59] oegedijk commented on #199
Hi @ttpro1995, I thought about adding this, but I'd like to have the version recorded in only one location, so wasn't sure how to make sure the same version ends up in `__version__` and in `setup.py`.

Seems there should be some solutions for this though: https://stackoverflow.com/questions/458550/standard-way-to-embed-version-into-python-package

will see if I can implement it...

[2022-03-31 20:20] oegedijk commented on #198
Hi @Guidosalimbeni,

So the if the model is able to handle categorical values then ExplainerDashboard should handle it as well. It does at least for CatBoost, so I assume it should work for lightgbm as well.

Do you have some runnable example code that shows the crash or wrong output?

[2022-03-31 20:23] oegedijk commented on #197
Hi @firobeid,

That's a good question. Should in principle be possible I guess. So user could provide for example a dictionary with an encoder function and decoder function, e.g. `encoder_functions = {'Age': {'encoder': age_encoder, 'decoder': age_decoder}}`, and if these are passed then the dashboard could run input through these functions.

So should in theory be possible. Not sure I have the ti

[2022-04-01 13:36] XinQi7788 opened #201 "deployment issue: could not find tbtools.py"
Hi

With following the instructions of deployment using gunicorn on localhost ($_gunicorn dashboard:app_), but encountered ImportError that could not import name as shown below.

ImportError: cannot import name 'get_current_traceback' from 'werkzeug.debug.tbtools' (/home/ubuntu/anaconda3/envs/dash/lib/python3.10/site-packages/werkzeug/debug/tbtools.py)

Please help on how to resolve the issue? Tha

[2022-04-01 15:13] oegedijk commented on #201
yeah, this is an issue that has to do with a new version of werkzeug that got released a few days ago. You can fix it by installing the previous version: `pip install Werkzeug<=2.0.3`

I'm working on releasing a fix this evening, but the github CI/CD is broken for some reason...

[2022-04-01 16:59] XinQi7788 commented on #201
Thanks for a quick reply!

I changed to the previous version: pip install Werkzeug<=2.0.3 inside the requirements.txt, but after push to heroku master branch, got the following error message:

heroku[router]: at=error code=H12 desc="Request timeout" method=GET path="/" host=ed-test-app.herokuapp.com request_id=a27c1a8f-f92f-4aff-afed-81eb74510167 fwd="34.202.79.235" dyno=web.1 connect=0ms service=

[2022-04-01 19:11] oegedijk commented on #201
just released v0.3.8.1 that should fix the previous issue.

As for this latest one, I'm not sure... seems that the server is taking longer than 30 seconds to respond. Did you pre-calulcate all the shap values etc, and save the explainer to .joblib before loading it again in the heroku deployment?

[2022-04-01 19:12] oegedijk commented on #199
Added it to the latest release (0.3.8.1),  will see if in the future I can automatically link it to the version in setup.py because I'm sure I will forget to sync them at some point. (maybe can also just add a test in the github ci/cd)

[2022-04-01 19:12] #199 closed

[2022-04-01 19:16] oegedijk commented on #184
just did the release!

[2022-04-01 19:16] #184 closed

[2022-04-02 01:58] XinQi7788 commented on #201
Thanks for such a quick reply!

I did use yaml file to load the ExplainerDashboard. Here I attached the scripts I used to try to deploy in Heroku using Dash. Can you please let me know what is wrong with the dashboard.py or other files? Thank you very much. Looking forward to your reply!

Best Regards
Xin

[ED_test.zip](https://github.com/oegedijk/explainerdashboard/files/8401583/ED_test.zip)

[2022-04-02 10:13] tvdboom opened #202 "Error with shap values in 0.3.8.1"
Hi,
since the new update I am getting the following error:

[code]

The error is produced here:

https://github.com/oegedijk/explainerdashboard/blob/518cefca18d8a8c217709395105719618418942f/explainerdashboard/explainers.py#L2379-L2396

self._shap_values_df is defined as list and never turned to a pandas object before the concatenation. It could be that this work with an older version of pandas, I

[2022-04-02 19:28] oegedijk commented on #202
Ah, I can see what happened there: a recent PR substituted all the recently deprecated `pd.append()` calls with `pd.concat` , however in this case it was actually a list that was getting appended, so no need to substitute :)

I missed it in code review, and I now realize that there was also a missing test for this method :(

Anyway, should be easy to reverse!

[2022-04-02 19:57] oegedijk commented on #202
okay, just released the fix (0.3.8.2), let me know if it fixes the issue for you.

[2022-04-03 17:43] tvdboom commented on #202
yes, it works. thanks for the quick hotfix!

[2022-04-03 17:43] #202 closed

[2022-04-03 23:23] eakande opened #203 "Running Explainer Dashboard in streamlit"
Is there a way I can run and successfully deploy ExplainerDashboard inside streamlit? the code below run successfully on localhost but could not successfully deploy. Hence, I decided to ask the question in case you know a better way on how to go about this.

def app():

    st.title("This is the machine learning page")
    st.markdown("redirect to my [app](https://github.com/prakharrathi25/data-st

[2022-04-03 23:40] eakande commented on #201
I use this in my requirement.txt file and it works. In addition, I will advise you to create and run it in a virtual environment. You also do not seem to have the runtime.txt, this is explicitly stated in the document.  The runtime contains the version of your python e.g.    python-3.9.7

Moreover, what you posted is just an error code description which I am very familiar with, I will advise you t

[2022-04-04 08:28] oegedijk commented on #203
Hi @eakande,

I don't use streamlit myself, so not sure I can directly help, but if you can post some error/logs/stacktraces maybe someone else can?

[2022-04-04 15:12] XinQi7788 commented on #201
Hi eakande: thank you so much for your help!

Inside the virtual environment, runtime.txt file is added, and instead of using Dash, I changed to Flask inside the dashboard.py. After deployment on Heruko, still got error messages as below. I attached the scripts in the zipped file as well. Looking forward to your reply and thank you very much!

2022-04-04T14:06:44.800938+00:00 app[web.1]:     stack

[2022-04-05 21:00] eakande commented on #201
I just ran your code and it ran well on my local machine, not yet deploy it: If you use

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

model = RandomForestClassifier(n_estimators = 400,
                           n_jobs = -1,
                           oob_score = True,

[2022-04-12 14:31] eakande opened #204 "Dashboard Components"
Hello Oegedijk, I ran the explainer component below to assess the shape contribution table but the compute gave me "class" syntax error.
class
explainerdashboard.dashboard_components.shap_components.ShapContributionsTableComponent(explainer, title='Contributions Table', name=None, subtitle='How has each feature contributed to the prediction?', hide_title=False, hide_subtitle=False, hide_index=Fals

[2022-04-14 10:01] seyidcemkarakas opened #205 "Error loading layout"
When i run this code
[code]
I am getting error like => **Error loading layout**
![image](https://user-images.githubusercontent.com/66181520/163362095-57df200b-01ae-4fcf-a8f6-0162f95038d3.png)

**How can i fix it ?**

**BTW my database is large, containing 7 columns and approximately 14000 row. Could this info be the reason of not opening ?**

[2022-04-18 02:11] achimgaedke commented on #201
returning to the initial topic of this thread, this is an upstream bug: https://github.com/plotly/dash/issues/1992

This is fixed with [dash-2.3.1](https://github.com/plotly/dash/releases/tag/v2.3.1) - see my commit above.

[2022-04-20 20:20] #203 closed

[2022-04-20 20:23] eakande commented on #203
@Talador12 it will be great to see this, I have tried so many times but I couldn't get through it because I am not as vast as so many of you.

[2022-04-26 11:06] jgdpsingh opened #209 "Error loading in Kaggle"
I'm trying to run the explainer dashboard using inline mode in Kaggle but it doesn't show anything

[2022-04-26 21:08] nilslacroix opened #210 "Install explainerdashboard 0.3.8 from conda-forge"
I tried to install explainerdashboard from anaconda forge on my linux as well as my windows 10 machine. Both fail, just explainerdashboard 0.3.6.2 works finde, but that does not have pipeline support. Any solutions for this? Can other people install the newest version from anaconda?

[2022-04-27 09:26] nilslacroix opened #211 "Use custom estimator with explainerdashboard"
Is it possible to use a custom regressor with explainerdashboard? For example I use this wrapper class to fit my estimators, which gives me the error "An unknown model type was passed: <class 'help_module.ClfSwitcher'>", since the model can't be known by explainerdashboard. I could use the ClfSwitcher estimator attribute, but this won't work in a pipeline since I need to the transformations on my

[2022-04-27 12:37] #210 closed

[2022-04-27 12:41] nilslacroix opened #212 "get_feature_names_out() not working with FunctionTransformer"
Sheers,

if you use a FunctionTransformer in a columntransformer explainerdashboard does not recognize the column names.
I think this is because you use get_features_names_out() in your code rather than the attribute.

[2022-04-27 14:09] nilslacroix commented on #212
This might be related to scikit learn implementation and could change today, since a new RC is coming

[2022-04-27 14:17] nilslacroix opened #213 "Regarding v0.3.8.1: pipeline support"
I have two issues with the new pipeline support. Here is ascreenshot of my dashboard:

![image](https://user-images.githubusercontent.com/56065345/165538459-bc634f18-5911-4f93-a2a8-6e36b247df4e.png)

1. The first issue is: Why are my one-hot encoded columns not shown as one value - so rather than "enc_obj_PropertyType_EFH,
enc_obj_PropertyType_Whg, enc_obj_PropertyType_DHH" I would like t have one

[2022-04-27 22:03] #212 closed

[2022-04-28 14:50] oegedijk commented on #213
It would be nice to autodetect when feature names are due to an onehotencoding so that I can group them. Would take some work, but in principle should be possible I guess...

[2022-04-28 14:52] oegedijk commented on #211
Hi @nilslacroix, yes this should be possible, i'm just ducktyping the models basically, so as long as the expected sklearn compatible methods are there it should work.

However the model should also work with `shap`, which should be the case as long as you pass `shap='kernel'`...

[2022-04-28 14:58] oegedijk commented on #209
Hi @jgdpsingh ,

This should be in principle possible using ngrok: https://www.kaggle.com/code/xhlulu/jupyter-dash-demo/notebook

Although I haven't tried yet myself. Solution looks quite simple, so could maybe try to build it into the library...

[2022-04-28 14:59] oegedijk commented on #205
Hi @seyidcemkarakas,

No that does not sound too large to me.

The error is not really clear though.

When you click on the blue circle `<>` thingie, can you get some additional errors out?

[2022-04-28 15:04] oegedijk commented on #204
euhm, I guess you would want to do something like this:

[code]

[2022-04-28 17:04] nilslacroix commented on #213
Thanks for the fast reply! It seems that` pipeline.get_feature_names_out()` always applies a double underscore before the actual feature name, so that would be a way to cut the string for appropiate column names. For onehotencoding, binaryencoding that would be indeed a nice feature. Addiotional it would be possible to call `pipeline[:-1].get_feature_names_out()` to exclude the estimator or they m

[2022-04-28 17:35] nilslacroix commented on #213
Is it maybe possible to rename columns? Or should I just cats for this as well and do something like `cat = {"Dailyneeds": ["pow_Dailyneeds"]}` ?

[2022-04-28 19:42] oegedijk commented on #213
Hmmm, I'm not sure the renaming columns functionality belongs in the explainerdashboard. I guess you could either just extract the transformer and model yourself (e.g.. `transformer, model = pipeline[:-1], pipeline[-1]` and then do the renaming before you pass it to the explainer.

Or you could monkeypatch the `get_feature_names_out()` method.

Or maybe come up with a `FeatureColumnNameTransformer

[2022-04-28 19:43] oegedijk commented on #213
As for the `np.expm(y_test)` trick I don't think this would work? I'm assuming the X and y are from the same distribution as the model was fit on. So if you then transform the `y_test` before passing it to the explainer, all the metrics will be wrong.

[2022-04-28 20:04] nilslacroix commented on #213
NvM you can use a mixed columntransformer to preprocess encoded and numrical stuff separetely. Okay just need to solve this thing with the target value.

[2022-05-03 21:20] eakande opened #215 "HELP with uploading data externally"
Hello guys and ladies,

I am trying to upload external data into the dashboard using explainer.set_x_row_func() and explainer.set_y_func(). Does anyone know how to do this? Below is how to get around it,

Storing data externally. You can for example only store a subset of 10.000 rows in the explainer itself (enough to generate importance and dependence plots), and store the rest of your millions o

[2022-05-03 21:22] eakande commented on #213
@nilslacroix can you help me with this problem please?

I am trying to upload external data into the dashboard using explainer.set_x_row_func() and explainer.set_y_func(). Does anyone know how to do this? Below is how to get around it,

Storing data externally. You can for example only store a subset of 10.000 rows in the explainer itself (enough to generate importance and dependence plots), and s

[2022-05-04 18:38] eakande opened #216 "HELP with uploading data externally"
I am trying to upload external data into the dashboard using explainer.set_x_row_func() and explainer.set_y_func(). Does anyone know how to do this? Below is how to get around it, I tried it out with the following code

model = RandomForestRegressor()
         model.fit(X_train, y_train)

         X_test.reset_index(drop=False, inplace=True)
         X_test.index = X_test.index.astype(str)

[2022-05-04 18:39] #215 closed

[2022-05-04 18:55] oegedijk commented on #213
Yeah, you could think providing a pair of transform/inverse function to apply, and then apply them to all the right places in the dashboard. It's kind of a similar issue with classifiers where you sometimes want to transform from logit space to probability space and back again.

Anyway, I think it's a bit out of scope (and a lot of work) for the dashboard to support it, but ofcourse would happily

[2022-05-04 18:55] oegedijk commented on #211
Did you get this to work?

[2022-05-04 18:55] oegedijk commented on #209
Did you try getting this to work?

[2022-05-04 18:56] oegedijk commented on #204
did this help? Closing this for now...

[2022-05-04 18:56] #204 closed

[2022-05-04 18:57] oegedijk commented on #201
This was fixed temporarily and now is even fixed upstream so closing this issue...

[2022-05-04 18:57] #201 closed

[2022-05-04 18:57] #200 closed

[2022-05-04 18:58] oegedijk commented on #198
Hi @Guidosalimbeni,

would you able to provide any examples of where this broke?

[2022-05-04 18:58] #197 closed

[2022-05-04 18:58] #195 closed

[2022-05-04 19:22] #187 closed

[2022-05-04 19:29] oegedijk commented on #149
Hi @jeanhofer,

The IndexConnector is meant to connect the index selection dropdown menu between two explaincomponents. So the first argument.

So the first argument should be the dash id of the index dropdown, e.g. `IndexConnector('custom-index-dropdown-id', self.contributions)`...

Or if the first argument is an `ExplainerComponent` that has an `.index_name` property it uses that.

[code]

[2022-05-04 19:29] #149 closed

[2022-05-04 19:29] #172 closed

[2022-05-04 19:30] #173 closed

[2022-05-04 19:30] #174 closed

[2022-05-04 19:31] #177 closed

[2022-05-04 19:31] #178 closed

[2022-05-04 19:31] #185 closed

[2022-05-04 19:31] #186 closed

[2022-05-04 19:34] oegedijk commented on #189
Hi @carolpiazzi, seems like zenodo provides a doi: https://zenodo.org/record/6408776

[2022-05-04 19:34] #189 closed

[2022-05-04 20:07] seyidcemkarakas commented on #205
Hi @oegedijk , firstly thanks for feedback.

Secondly, nothing happened when i click <> circle, i just clicked the callbacks button and little frame appears and still nothing.

![image](https://user-images.githubusercontent.com/66181520/166817234-2a199d3b-28e7-40e9-9bd8-c9969877f705.png)

[2022-05-05 07:17] oegedijk commented on #205
Hmm, these can be a little annoying to debug. Usually it is due to non-existing callback id's.

Does the standard demo code work?

e.g. does this work:

[code]

Could it be that you have some non-standard characters in your column names?

[2022-05-05 11:31] nilslacroix commented on #211
Not really. I am just able to get the estimator object directly from the Switcher class, create a second pipeline where I use it as a final estimator and feed this into explainer dashboard. Yeah with shap="kernel" it would probably work but the checks for shape="tree" will ofc fail when I use a descion tree based algorithm. But I guess this can be closes, for now you to implement a little bite of

[2022-05-05 11:31] nilslacroix commented on #211
And if you are interested, the error as described:

[code]

[2022-05-05 11:35] nilslacroix commented on #213
Actually if you can use explainerdashboard with pipelines from scikit it should be possbile to make it work/implement since it provides `inverse_transform()`  for all features ( https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.inverse_transform ). I would love to do a PR but I am not really qualified and too inexperienced in python/github t

[2022-05-05 12:14] oegedijk commented on #211
ah yeah, that makes sense. When you look at the shap code where that exception originates it checks explicitly against supported model for shap.TreeExplainer:

https://github.com/slundberg/shap/blob/0662f4e9e6be38e658120079904899cccda59ff8/shap/explainers/_tree.py#L628

[2022-05-05 12:15] oegedijk commented on #211
closing this for now. Don't think much can be done from the explainerdashboard side...

[2022-05-05 12:15] #211 closed, assigned to nobody

[2022-05-05 12:16] oegedijk commented on #213
ah, that's cool. Didn't know about that feature actually. In this case it would specifically be about a transformation for `y` only though right?

[2022-05-06 06:32] jgdpsingh commented on #209
Sorry for replying late.. I tried it multiple times in Kaggle but still it won't work. This error page kept cropping up like before.
![Uploading IMG_20220506_120140.jpg…]()

[2022-05-10 08:44] andypatrac opened #218 "ExplainerDashboard for multioutput regressors"
Hello,

Is it possible to use the explainerdashboard for multioutput regressors? I have setup a regression model using the sklearn random forest regression to build models for multiple target variables. However, explainerdashboard regression explainer seems to only allow y argument with single variable/column and does not support a dataframe with multiple targets/outputs.

Alternately, I have trie

[2022-05-10 09:10] oegedijk commented on #218
Hi @andypatrac,

Honestly, I didn't even know this was a thing :)

Anyway, no currently not supported. Classifier can be multiclass, but regressors are assumed to be single output.

Have you tried getting shap values directly with the shap library? Does that work? If that is supported, in principle it could also be included in the dashboard. Though not sure how many modifications will have to be m

[2022-05-10 09:10] oegedijk commented on #218
(supporting multiclass was quite a lot of work, that affected basically every part of the library)

[2022-05-10 10:24] andypatrac commented on #218
Hi @oegedijk ,

Thanks for the quick response. The shap library does support calculating multi-output shap values. In this case, the shap values is essentially a list of matrices of shap values for each output variable. I understand might be a lot of work for supporting this in explainerdashboard.

As an alternative/workaround, I though the user may select the single output they wish to view the d

[2022-05-10 11:13] oegedijk commented on #218
Yeah, that's essentially what the dashboard does with a multiclass example:

[code]

[2022-05-10 11:49] andypatrac commented on #218
Really appreciate your inputs! This is nice, unfortunately it is currently only available with classifier explainers.

I was thinking along the same lines, but with a minor variation of the input selection being done from say a plotly dashboard (or in the terminal itself), which would open a new window with the explainerdashboard for the selected variable/class. The issue I run into is once the ex

[2022-05-10 13:30] oegedijk commented on #218
So I think ideally the solution would be the same as the multiclass where you can select the output from a dropdown and then the whole dashboard adjusts to that selection.

However, that will probably require quite a bit of work.

Do you have a nice simple example with a smallish dataset of a multi output regression and how you get the shap values? Then I can see how much plumbing would have to be

[2022-05-10 17:45] andypatrac commented on #218
Sure. I'll put together sample dataset of 20-30 rows for multi-output regression along with the snippet code for getting the shap values. In the meantime, I figured using the explainerhub can serve as a temporary workaround, it is not as elegant as the multiclass for classifier, but it works. The idea is to loop through and build a separate model and explainerdashboard for each of the output varia

[2022-05-11 13:00] achimgaedke commented on #205
Hi there! I do have similar problems.

I tend to work with datasets in the millions (should lot of noise/correlation before you think I live in DS heaven).

For the explainer dashboard I use only 10k of the samples, but am at the limits.

So, some observations and tentative solutions after looking at the network stats:

Get all external assets from the CDN, i.e. set
[code]

Looking into the `_dash

[2022-05-11 13:47] achimgaedke commented on #205
Oh, there are "dynamic options" in https://dash.plotly.com/dash-core-components/dropdown

[2022-05-11 18:37] oegedijk commented on #205
Try using `index_dropdown=False`?

[2022-05-12 17:19] andypatrac commented on #218
Hi @oegedijk,

I have attached a sample dataset with 39 data lines, 5 inputs/feature variables (X1-X5) and 2 output variables (Y1-Y2). Listed below is the snippet of the code using the sklearn random forest regressor for building the multi-output model and the shap values for the same.

--------------------------------------------------------------------------
import pandas as pd
from sklearn.ense

[2022-05-25 05:24] andypatrac opened #220 "Feature value input to get_contrib_df"
Hello,

I understand that the get_contrib_df function can be used to get the contributions of various features to the final predictions for a particular data index from the table. However, is it possible to get the contribution calculation/table by passing a list/array of data points to this function? I am guess this is possible since the Input Feature table and contributions plot work in the expl

[2022-05-26 13:23] jenoOvchi opened #221 "explainerfile in dashboard.yaml must be absolute or relate to hub working directory"
Hi!

I'm trying to reproduce example from documentation https://explainerdashboard.readthedocs.io/en/latest/hub.html#adding-dashboards-using-url and find next issue:

With next code
[code]

in files dashboards/dashboard1/dashboard.yaml and dashboards/dashboard2/dashboard.yaml key "explainerfile" saves with value "explainer.joblib" and if i'm trying to add this dashboard to Hub (request http://loca

[2022-06-15 09:39] #221 closed

[2022-06-22 06:09] dylan-slack opened #223 "Citation?"
Hello! Curious if you have a desired citation for this project.

Thanks 🙏

[2022-06-29 01:16] sebastian-correa opened #224 "Error when X has boolean columns"
# Summary
In my project, we have a dataset with 1 `bool` column (with the rest being normal numeric columns).

I'm trying to make an Hub with many dashboards, but when instantiating the first dashboard I get
[code]

The lines that error out are the following, because we're trying to round a `bool`.
https://github.com/oegedijk/explainerdashboard/blob/2a21322ad0f414cbaaa391ef8ce37fb2b96cf80c/explain

[2022-07-07 13:18] ana-ventouris opened #225 "Trigger dashboard on button click"
I am working on a [Dataiku][1] plugin, where I try to integrate ExplainerDashboard. They both use Dash and I initiate it like this:

    predictor = ...
    X_test = ...
    y_true = ...

    explainer =  RegressionExplainer(predictor._clf, X_test, y_true, n_jobs = 8)
    db = ExplainerDashboard(explainer, shap_interaction=True)

    app.config.external_stylesheets = [dbc.themes.BOOTSTRAP]
    app

[2022-07-13 17:53] mChowdhury-91 opened #226 "Question: Real-time data to dashboard"
Hi Team,

I would like to understand two things:
1. How can we push real-time data to the dashboard, like during inferencing phase
2. Where is data getting stored, is it somewhere in the memory? From where is the data getting rendered into the dashboard

[2022-07-19 09:56] ana-ventouris commented on #225
I think I am getting closer but I still not done.

If I do it like this:

[code]

The dashboard gets triggered on the button click, however, it is calculated before I click the button and when the dash starts. If I change it and put the calculations inside the callback like this, I get the dashboard but it looks the register callback doesn't work and all the plots are empty

[code]

[2022-07-20 10:17] mirix opened #227 "The Permutation was generated with a version of explainerdashboard<0.3 and therefore not compatible with this version"
Hello,

I do not understand the following error message:

But both my packages seem to be current:

explainerdashboard==0.4.0

shap==0.41.0

I am using the following code:

[code]

Should I downgrade as suggested or is there another solution?

[2022-07-20 11:14] mirix commented on #227
If I downgrade I get this:

The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

[2022-07-20 11:32] mirix commented on #227
OK, this works:
[code]

[2022-07-21 07:09] mChowdhury-91 commented on #226
Is the dash table storing the data?

[2022-07-25 09:14] #226 closed

[2022-07-29 12:27] tvdboom opened #230 "Update conda version"
I noticed conda is behind on version: https://github.com/conda-forge/explainerdashboard-feedstock/pull/41/

[2022-07-29 12:53] tvdboom commented on #230
It fails because it can't find `requirements.txt` when running setup.py. You may need a `MANIFEST.in` file. Not 100% sure that's the problem though

[2022-08-04 12:41] fjpa121197 opened #231 "[QUESTION] - Is there any way to inverse_transform numerical features by providing preprocessor object?"
Hi,

I'm currently using ```ExplainerDashboard``` with a Bayesian Ridge model, and I have been able to set it up and run without a problem.

However, I noticed the scale of my numerical features is different, since I'm using a RobustScaler for them and therefore the ranges shown in the feature input section uses the ranges used to train the model. However, if I wanted to change the input of one in

[2022-08-05 07:35] fjpa121197 commented on #231
@oegedijk

[2022-08-08 14:33] e5k commented on #223
See #189

[2022-08-09 07:11] fjpa121197 commented on #231
Closing issue because I was able to solve problem, by not scaling numerical features (with minimal effect on performance).

However, it will be nice to implement, or allow to pass a Pipeline/Columntransformer object to handle this in the background.

[2022-08-09 07:11] #231 closed

[2022-08-23 22:02] Tanay0510 commented on #59
I am building a catboost model using

[code]

Now

[code]

I am doing the following and every time I am getting the following error -

`
CatBoostError: features data: pandas.DataFrame column “A” has dtype ‘category’ but is not in cat_features list. `

When I am calling clf.fit(..) I am providing the names of columns there. I don’t know why I am facing this error and I am a bit lost. Any help would

[2022-08-24 17:25] Tanay0510 opened #232 "Feature data : pandas.DataFrame column "" has dtype 'category' but is not in cat_features list"
I am creating a catboost model using the following

[code]

When i run this, i am getting the following error

[code]

I don't understand why this is happening. Also if I am not using explainer dashboard and creating model, doing model fit, calculating shap values etc using shap and catboost, I don't get this error so I think there is something wrong with explainer dashboard.

I am stuck at this p

[2022-09-01 07:36] chaitanyabunny opened #234 "does explainerdashboard works with textual data i. NLP ? I have model which uses LR algorithm on text data. I want to use explainerdashboard for showing SHAP values for each word. Currently I am getting error :"list index out of range" .I have only one column in my training datawhich is "raw_text"."

[2022-09-05 08:45] CelieDs commented on #176
Hello,

Thanks for the great tool! I would also be interested in hiding some parameters in the Feature Input Component and I was wondering if this has been implemented since the opening of the issue?

Thanks in advance :)

[2022-10-14 08:05] yerbby opened #236 "'Feature Dependence' tab of the Dashboard is dead in latest version"
Hi,
The 'Feature Dependence' tab of the ExplainerDashboard seems to be broken: both Shap Summary and Shap Dependence plots does not show any info. Moreover, the Interactions Summary in the Feature Interactions tab isn't working either.

You can reproduce the error with the exact code examples provided at http://titanicexplainer.herokuapp.com/, for example, this one:
[code]
The Dashboard hosted in

[2022-10-15 02:19] Dekermanjian commented on #198
Hello, I am running into this issue. Here is the error message that I get:
`TypeError: '<' not supported between instances of 'float' and 'str'`

And here is a reproducible example:
[code]

[2022-10-17 17:13] maxuboldi commented on #198
I am having the same problem, is there a solution?

[2022-10-18 17:33] Guidosalimbeni opened #237 "Change from logodds to probability the shap values"
Shap library in python comes with a **link**  parameter that  Using “logit” will change log-odds numbers into probabilities. This is useful as the shape values in the plot would be easier to interpret in binary classification. Is there a way to set the same behaviour in explainerdashboard?

[2022-11-03 16:53] AmitSri21 opened #238 "Cannot Import library due to Shap"
Cannot Import explainer dashboard as it throws cannot find module numba.core

Tried installing numba 0.48.0 but can't get it running

Please help

[2022-11-23 13:33] plotxy opened #239 "Cannot pass cutoff to ClassifierModelStatsComposite"
Hello,

I'm trying to incorporate ClassifierModelStatsComposite in a report we use. Everything so far worked very well, beside for the ability to choose a different cutoff that the default one.

What I do is create my eplainer, and then pass it to the composite instance.
explainer = ClassifierExplainer(model, X], y)
stats = ClassifierModelStatsComposite(explainer)

I would like to be able to have

[2022-11-29 12:27] galievaz commented on #198
Hi,

I have the same issue due to string values in the data, I'd like to create dashboard, as a fitted model used TabularPredictor from Autogluon library
is there any solution or update related to this issue?

[2022-11-30 06:48] woochan-jang opened #240 "Retrieving the Original Values from Sklearn Pipeline"
Hello,

I'm trying to incorporate sklearn pipelines into Explainerdashboard, as below:

[code]

I expected to see the pre-scaled data in the dashboard (e.g. sex_male=0 or 1). However, it seems the values I see on the dashboard are the data that has gone through the StandardScalar step (e.g. sex_male=0.7, 1.3).

Is there any way to achieve my goal?

Thank you very much for an incredible open source

[2022-11-30 10:18] plotxy commented on #239
I'm not sure, but I think I found what may be the issue:

In the class ClassifierModelStatsComposite when all the different component are initiated the cutoff is never passed as an argument.
The cutoff at the level of the composite is initiated and stats.cutoff shows the correct one.
But then is never passed to the components creating the charts: even if passing a dictionary as kwargs to the compo

[2022-11-30 10:24] #240 closed

[2022-11-30 10:26] woochan-jang commented on #240
Sorry - I found the comment doc. shap='kernel' option takes forever though, so any idea regarding how to expedite that would be awesome.